[Unit]
Description=Vevor Inverter Modbus to MQTT Bridge
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/vevor-inverter-mqtt
ExecStart=/home/pi/vevor-inverter-mqtt/.venv/bin/python app.py --mqtt-host 192.168.1.2 --poll 5
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
